:root {
  // gray scale
  --white: white;
  --g10: #F5F5F5;
  --g20: #E0E0E0;
  --g30: #C6C6C6;
  --g40: #A8A8A8;
  --g50: #8D8D8D;
  --g60: #727272;
  --g70: #555555;
  --g80: #393939;
  --g90: #252525;
  --g100: #161616;
  --black: black;


  // blue
  --gnr-blue10: #EDF6F8;
  --gnr-blue20: #d0e2e8;
  --gnr-blue30: #B6D4DF;
  --gnr-blue40: #8DBACB;
  --gnr-blue50: #669FB5;
  --gnr-blue60: #5890a8;
  --gnr-blue70: #317C9F;
  --gnr-blue80: #267195;
  --gnr-blue90: #11506f;
  --gnr-blue100: #053d59;

  // red
  --gnr-red10: #FCE8E6;
  --gnr-red20: #FFC8BB;
  --gnr-red30: #FFA48E;
  --gnr-red40: #FF7F62;
  --gnr-red50: #FF6041;
  --gnr-red60: #FF3E1F;
  --gnr-red70: #FA371C;
  --gnr-red80: #c72b16;
  --gnr-red90: #b52616;
  --gnr-red100: #870b02;

  // orange
  --gnr-orange10: #f8ebe6;
  --gnr-orange20: #f4d3bb;
  --gnr-orange30: #eeb88f;
  --gnr-orange40: #e89f61;
  --gnr-orange50: #e38d3c;
  --gnr-orange60: #de7f0e;
  --gnr-orange70: #d47809;
  --gnr-orange80: #c77006;
  --gnr-orange90: #ba6907;
  --gnr-orange100: #a35b0a;

  // green 
  --gnr-green10: #f1f8e9;
  --gnr-green20: #ddedc7;
  --gnr-green30: #c6e1a3;
  --gnr-green40: #afd57e;
  --gnr-green50: #9dcc61;
  --gnr-green60: #8cc345;
  --gnr-green70: #7db33d;
  --gnr-green80: #699f33;
  --gnr-green90: #558b2a;
  --gnr-green100: #336919;

  // purple
  --gnr-purple10: #f0e7f1;
  --gnr-purple20: #dbc2de;
  --gnr-purple30: #c49bca;
  --gnr-purple40: #ac76b3;
  --gnr-purple50: #9b5ca3;
  --gnr-purple60: #8a4793;
  --gnr-purple70: #7f428c;
  --gnr-purple80: #6f3b82;
  --gnr-purple90: #603578;
  --gnr-purple100: #472c63;

  // magenta
  --gnr-magenta10: #fae7f2;
  --gnr-magenta20: #f4c4df;
  --gnr-magenta30: #ef9eca;
  --gnr-magenta40: #ed79b4;
  --gnr-magenta50: #eb60a1;
  --gnr-magenta60: #eb4c8f;
  --gnr-magenta70: #d94889;
  --gnr-magenta80: #c14480;
  --gnr-magenta90: #ab4078;
  --gnr-magenta100: #833969;

  // functional
  --popup-overlay: rgba(57, 57, 57, 0.1);
  --float-color: rgba(0, 0, 0, 0.05);
  --outline: #0D8CE9;
}

#theme-provider,
.theme-override {

  &.theme--light {
    // generic colours
    --background: var(--g10);
    --background-interaction-strong: var(--g20);
    --layer-background: var(--white);
    --foreground: var(--g80);
    --foreground-weak: var(--g50);
    --foreground-disabled: var(--g30);

    // functional colours
    --dangerous-strong: var(--gnr-red100);
    --dangerous-intermediate: var(--gnr-red60);
    --dangerous-interact: var(--gnr-red20);
    --dangerous-weak: var(--gnr-red10);

    &.color--orange,
    & .theme-override.color--orange {
      --accent-strong: var(--gnr-orange100);
      --accent-intermediate: var(--gnr-orange60);
      --accent-interact: var(--gnr-orange20);
      --accent-weak: var(--gnr-orange10);
    }

    &.color--green,
    & .theme-override.color--green {
      --accent-strong: var(--gnr-green100);
      --accent-intermediate: var(--gnr-green60);
      --accent-interact: var(--gnr-green20);
      --accent-weak: var(--gnr-green10);
    }

    &.color--blue,
    & .theme-override.color--blue {
      --accent-strong: var(--gnr-blue100);
      --accent-intermediate: var(--gnr-blue60);
      --accent-interact: var(--gnr-blue20);
      --accent-weak: var(--gnr-blue10);
    }

    &.color--purple,
    & .theme-override.color--purple {
      --accent-strong: var(--gnr-purple100);
      --accent-intermediate: var(--gnr-purple60);
      --accent-interact: var(--gnr-purple20);
      --accent-weak: var(--gnr-purple10);
    }

    &.color--magenta,
    & .theme-override.color--magenta {
      --accent-strong: var(--gnr-magenta100);
      --accent-intermediate: var(--gnr-magenta60);
      --accent-interact: var(--gnr-magenta20);
      --accent-weak: var(--gnr-magenta10);
    }
  }

  &.theme--dark {
    // generic colours
    --background: var(--g80);
    --background-interaction-strong: var(--g70);
    --layer-background: var(--g90);
    --foreground: var(--g10);
    --foreground-weak: var(--g30);
    --foreground-disabled: var(--g50);

    // functional colours
    --dangerous-strong: var(--gnr-red20);
    --dangerous-intermediate: var(--gnr-red40);
    --dangerous-interact: var(--gnr-red80);
    --dangerous-weak: var(--gnr-red100);

    // functional
    --popup-overlay: rgba(255, 255, 255, 0.167);
    --float-color: rgba(255, 255, 255, 0.05);

    &.color--orange,
    & .theme-override.color--orange {
      --accent-strong: var(--gnr-orange20);
      --accent-intermediate: var(--gnr-orange40);
      --accent-interact: var(--gnr-orange90);
      --accent-weak: var(--gnr-orange100);
    }

    &.color--green,
    & .theme-override.color--green {
      --accent-strong: var(--gnr-green20);
      --accent-intermediate: var(--gnr-green40);
      --accent-interact: var(--gnr-green90);
      --accent-weak: var(--gnr-green100);
    }

    &.color--blue,
    & .theme-override.color--blue {
      --accent-strong: var(--gnr-blue20);
      --accent-intermediate: var(--gnr-blue40);
      --accent-interact: var(--gnr-blue90);
      --accent-weak: var(--gnr-blue100);
    }

    &.color--purple,
    & .theme-override.color--purple {
      --accent-strong: var(--gnr-purple20);
      --accent-intermediate: var(--gnr-purple40);
      --accent-interact: var(--gnr-purple90);
      --accent-weak: var(--gnr-purple100);
    }

    &.color--magenta,
    & .theme-override.color--magenta {
      --accent-strong: var(--gnr-magenta20);
      --accent-intermediate: var(--gnr-magenta40);
      --accent-interact: var(--gnr-magenta90);
      --accent-weak: var(--gnr-magenta100);
    }
  }

}