:root {
  // gray scale
  --white: white;
  --g10: #F5F5F5;
  --g20: #E0E0E0;
  --g30: #C6C6C6;
  --g40: #A8A8A8;
  --g50: #8D8D8D;
  --g60: #727272;
  --g70: #555555;
  --g80: #393939;
  --g90: #252525;
  --g100: #161616;
  --black: black;

  // functional
  --outline: #0D8CE9;
}

#theme-provider,
.theme-override {

  &.theme--light {
    // generic colours
    --background: var(--g10);
    --background-interaction-strong: var(--g20);
    --layer-background: var(--white);
    --foreground: var(--g80);
    --foreground-weak: var(--g50);
    --foreground-disabled: var(--g30);
    --skeleton-base: #d3d3d384;
    --skeleton-pulse: linear-gradient(90deg,
                                    rgba(224, 224, 224, 0) 0%,
                                    rgba(206, 206, 206, 0.8) 50%,
                                    rgba(224, 224, 224, 0) 100%);

    // functional colours
    --dangerous-strong: #9D0D0D;
    --dangerous-intermediate: #D91010;
    --dangerous-interact: #F1BEBE;
    --dangerous-weak: #FFD0D0;

    // functional
    --popup-overlay: rgba(57, 57, 57, 0.1);
    --float-color: rgba(0, 0, 0, 0.05);

    // task colors
    --tc-ruby-strong: #8F092A;
    --tc-ruby-medium: #C7294F;
    --tc-ruby-weak: #FFD3DD;

    --tc-orange-strong: #C95400;
    --tc-orange-medium: #F26906;
    --tc-orange-weak: #FFD8BB;

    --tc-green-strong: #3A9900;
    --tc-green-medium: #70BE40;
    --tc-green-weak: #D0F9B4;

    --tc-aqua-strong: #036E85;
    --tc-aqua-medium: #1C99B5;
    --tc-aqua-weak: #C9F5FF;

    --tc-blue-strong: #124DA2;
    --tc-blue-medium: #1671F4;
    --tc-blue-weak: #D6E7FF;

    --tc-purple-strong: #5717C1;
    --tc-purple-medium: #8649E9;
    --tc-purple-weak: #EDE1FF;

    --tc-magenta-strong: #9C0E75;
    --tc-magenta-medium: #D735AA;
    --tc-magenta-weak: #FFDCF5;

    --tc-gray-strong: #313131;
    --tc-gray-medium: #4C4C4C;
    --tc-gray-weak: #DFDFDF;

    &.color--orange,
    & .theme-override.color--orange, 
    & .color--orange{
      --accent-strong: #D66400;
      --accent-intermediate: #ED8200;
      --accent-interact: #F5D6B5;
      --accent-weak: #FFE3C5;
    }

    &.color--green,
    & .theme-override.color--green, 
    & .color--green{
      --accent-strong: #458228;
      --accent-intermediate: #51BD1F;
      --accent-interact: #C0DCB2;
      --accent-weak: #D7EBCD;
    }

    &.color--blue,
    & .theme-override.color--blue, 
    & .color--blue{
      --accent-strong: #165296;
      --accent-intermediate: #1077C5;
      --accent-interact: #B3D3ED;
      --accent-weak: #CBE3F6;
    }

    &.color--purple,
    & .theme-override.color--purple, 
    & .color--purple{
      --accent-strong: #531396;
      --accent-intermediate: #7110D9;
      --accent-interact: #D9C5F0;
      --accent-weak: #EAD7FF;
    }

    &.color--magenta,
    & .theme-override.color--magenta, 
    & .color--magenta{
      --accent-strong: #9D0D5F;
      --accent-intermediate: #D91082;
      --accent-interact: #F1BEDB;
      --accent-weak: #FFD0EB;
    }
  }

  &.theme--dark {
    // generic colours
    --background: var(--g80);
    --background-interaction-strong: var(--g70);
    --layer-background: var(--g90);
    --foreground: var(--g10);
    --foreground-weak: var(--g30);
    --foreground-disabled: var(--g50);

    // functional colours
    --dangerous-strong: #FFC7C7;
    --dangerous-intermediate: #FF5252;
    --dangerous-interact: #725555;
    --dangerous-weak: #574141;

    // functional
    --popup-overlay: rgba(255, 255, 255, 0.167);
    --float-color: rgba(255, 255, 255, 0.05);

    --skeleton-base: #46464673;
    --skeleton-pulse: linear-gradient(90deg, 
                                    rgba(46, 46, 46, 0) 0%, 
                                    rgba(74, 74, 74, 0.8) 50%,
                                    rgba(46, 46, 46, 0) 100%);

    // task colors
    --tc-ruby-strong: #E54A6F;
    --tc-ruby-medium: #C7294F;
    --tc-ruby-weak: #461924;

    --tc-orange-strong: #FF9141;
    --tc-orange-medium: #F26906;
    --tc-orange-weak: #4D301B;

    --tc-green-strong: #AAFF75;
    --tc-green-medium: #70BE40;
    --tc-green-weak: #324725;

    --tc-aqua-strong: #58C4DC;
    --tc-aqua-medium: #1C99B5;
    --tc-aqua-weak: #26454C;

    --tc-blue-strong: #5F9DF7;
    --tc-blue-medium: #1671F4;
    --tc-blue-weak: #2F4058;

    --tc-purple-strong: #AC7AFF;
    --tc-purple-medium: #8649E9;
    --tc-purple-weak: #35264D;

    --tc-magenta-strong: #FF5FD2;
    --tc-magenta-medium: #D735AA;
    --tc-magenta-weak: #48223E;

    --tc-gray-strong: #A6A6A6;
    --tc-gray-medium: #4C4C4C;
    --tc-gray-weak: #363636;

    &.color--orange,
    & .theme-override.color--orange {
      --accent-strong: #F8C586;
      --accent-intermediate: #FFA21F;
      --accent-interact: #4D3924;
      --accent-weak: #3F3020;
    }

    &.color--green,
    & .theme-override.color--green {
      --accent-strong: #DFFFB8;
      --accent-intermediate: #93DC39;
      --accent-interact: #41512E;
      --accent-weak: #323E24;
    }

    &.color--blue,
    & .theme-override.color--blue {
      --accent-strong: #C3E5FF;
      --accent-intermediate: #13A0FF;
      --accent-interact: #485967;
      --accent-weak: #3E4B54;
    }

    &.color--purple,
    & .theme-override.color--purple {
      --accent-strong: #E5C3FF;
      --accent-intermediate: #A836FF;
      --accent-interact: #675873;
      --accent-weak: #52465C;
    }

    &.color--magenta,
    & .theme-override.color--magenta {
      --accent-strong: #FFC7E7;
      --accent-intermediate: #FF219F;
      --accent-interact: #725565;
      --accent-weak: #57414D;
    }
  }

  &.theme--autumn {
    // generic colours
    --background: #FFF1D4;
    --background-interaction-strong: #F2E5CB;
    --layer-background: #FFF7E7;
    --foreground: #553900;
    --foreground-weak: #B7A174;
    --foreground-disabled: #D3C5AB;
    --skeleton-base: #FFECC3;
    --skeleton-pulse: linear-gradient(90deg,
                                    rgba(238, 218, 177, 0) 0%,
                                    rgba(255, 182, 37, 0.206) 50%,
                                    rgba(238, 218, 177, 0) 100%);

    // functional colours
    --dangerous-strong: #D45D3C;
    --dangerous-intermediate: #E06E55;
    --dangerous-interact: #FFCFC2;
    --dangerous-weak: #FFDED4;

    // functional
    --popup-overlay: rgba(57, 57, 57, 0.1);
    --float-color: rgba(0, 0, 0, 0.05);

    // task colors
    --tc-ruby-strong: #8F092A;
    --tc-ruby-medium: #C7294F;
    --tc-ruby-weak: #FFD3DD;

    --tc-orange-strong: #C95400;
    --tc-orange-medium: #F26906;
    --tc-orange-weak: #FFD8BB;

    --tc-green-strong: #3A9900;
    --tc-green-medium: #70BE40;
    --tc-green-weak: #D0F9B4;

    --tc-aqua-strong: #036E85;
    --tc-aqua-medium: #1C99B5;
    --tc-aqua-weak: #C9F5FF;

    --tc-blue-strong: #124DA2;
    --tc-blue-medium: #1671F4;
    --tc-blue-weak: #D6E7FF;

    --tc-purple-strong: #5717C1;
    --tc-purple-medium: #8649E9;
    --tc-purple-weak: #EDE1FF;

    --tc-magenta-strong: #9C0E75;
    --tc-magenta-medium: #D735AA;
    --tc-magenta-weak: #FFDCF5;

    --tc-gray-strong: #313131;
    --tc-gray-medium: #4C4C4C;
    --tc-gray-weak: #DFDFDF;

    &.color--orange,
    & .theme-override.color--orange {
      --accent-strong: #D96500;
      --accent-intermediate: #FF8E03;
      --accent-interact: #FFDAB3;
      --accent-weak: #FFE5C9;
    }

    &.color--green,
    & .theme-override.color--green {
      --accent-strong: #598200;
      --accent-intermediate: #8BBD1F;
      --accent-interact: #D3E8A7;
      --accent-weak: #DEECC0;
    }

    &.color--blue,
    & .theme-override.color--blue {
      --accent-strong: #0D8F77;
      --accent-intermediate: #1FBDA0;
      --accent-interact: #B8E6D1;
      --accent-weak: #CBF2DC;
    }

    &.color--purple,
    & .theme-override.color--purple {
      --accent-strong: #C820EE;
      --accent-intermediate: #D54AE2;
      --accent-interact: #EDC9FF;
      --accent-weak: #F1DAFC;
    }

    &.color--magenta,
    & .theme-override.color--magenta {
      --accent-strong: #D43C92;
      --accent-intermediate: #E055A4;
      --accent-interact: #FFC3E5;
      --accent-weak: #FFD8EE;
    }
  }
}