// constant sizing, reference point is 16px
$typesize-default: 1rem;
$typesize-larger: 1.5rem;
$typesize-large: 2rem;

$typeweight-regular: 400;
$typeweight-light: 300;


// mixins
@mixin typemix-default($color: var(--foreground)) {
  color: $color;
  font-size: $typesize-default;
  font-weight: $typeweight-regular;
}

@mixin typemix-label($color: var(--foreground)) {
  @include typemix-default($color);
}

@mixin typemix-header($color: var(--foreground)) {
  @include typemix-default($color);
  font-size: $typesize-larger;
}

@mixin typemix-title($color: var(--foreground)) {
  @include typemix-default($color);
  font-size: $typesize-large;
  font-weight: $typeweight-light;
}